body{
    background-image: url(../images/startscreen.webp);
    background-size: cover;
}

@font-face {
    font-family: boys;
    src: url(../font/charlie_don_t_surf/the_boys.ttf);
}

#maintitle{
    text-align: center;
    font-family: boys;
    font-size: 5rem;
    color: white;
    position: relative;
    bottom: 4vh;
}


.subMainTitle{
    text-align: center;
    font-family: boys;
    color: white;
    position: relative;
    font-size: 2rem;
    bottom: 9vh;
}

#maintitle2{
    text-align: center;
    font-family: boys;
    font-size: 5rem;
    color: white;
}


#subMainTitle2{
    text-align: center;
    font-family: boys;
    color: white;
    position: relative;
    bottom: 4vh;
}

#switchToMain{
    width: 20vw;
    position: relative;
    top: 65vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    left: 40vw;
    border: 5px solid white;
    transition: linear 0.3s all;
}

#switchH3{
    font-family: boys;
    font-size: 2rem;
}

#switchToMain:hover{
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.1,1.1);
}

#bigMainBox{
    width: 70vw;
    position: relative;
    left: 15vw;
    border: 3px solid white;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
}

#leftMainBox{
    width: 50%;
    height: 100%;
    border-right: white solid 5px;
}

#rightMainBox{
    width: 50%;
    height: 100%;
    margin-left: 6vw;
}

.wholeletterline{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.wholeLineCust{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

.indicator{
    border: 3px solid white;
    width: 25%;
    height: 3vh;
    transition: linear all 0.3s;
}

.indicator:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.type{
    position: relative;
    right: 3vw;
    text-align: center;
    font-size: 2rem;
    font-family: boys;
    color: white;
}

.textIndicator{
    color: white;
    font-family: boys;
    font-size: 1.5rem;
    width: 25%;
    position: relative;
    left: 1vw;
}

#indicatorDurability1{
    background-color: white;
}

#indicatorInsanity1{
    background-color: white;
}

#indicatorAbilities1{
    background-color: white;
}

#lastSwitch{
    text-align: center;
    border: 3px solid white;
    position: relative;
    top: 5vh;
    left: 37vw;
    font-family: boys;
    color: white;
    width: 26vw;
    font-size: 1.6rem;
    transition: linear all 0.3s;
}

#charimg{
    width: 60%;
    height: auto;
    position: relative;
    left: 7vw;
}

#indicatordurability1{
    background-color: white;
}

#indicatorinsanity1{
    background-color: white;
}

#indicatorabilities1{
    background-color: white;
}


#hero_img{
    position: relative;
    top: 3vh;
    width: 86%;
    height: 56vh;
}

#lastSwitch:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

#maintitle3{
    text-align: center;
    font-family: boys;
    font-size: 5rem;
    color: white;
}
 #finalimg{
    width: 22vw;
    height: 80vh;
    position: relative;
    left: 35vw;
    bottom: 6vh;
 }

 #finalimgimg{
    width: 100%;
    height: 80vh;
 }

 #submain3{
    text-align: center;
    font-family: boys;
    color: white;
    font-size: 2.5rem;
    position: relative;
    bottom: 3vh;
 }

 